In [1]:
import numpy as np
import pandas as pd

In [2]:
iris=pd.read_csv(r"D:\data science\DataSets\iris1.csv")

In [3]:
iris

,Unnamed: 0,SepalLength,SepalWidth,PetalLength,PetalWidth,Target
0,0,5.1,3.5,1.4,0.2,Iris-setosa
1,1,4.9,3.0,1.4,0.2,Iris-setosa
2,2,4.7,3.2,1.3,0.2,Iris-setosa
3,3,4.6,3.1,1.5,0.2,Iris-setosa
4,4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,145,6.7,3.0,5.2,2.3,Iris-virginica
146,146,6.3,2.5,5.0,1.9,Iris-virginica
147,147,6.5,3.0,5.2,2.0,Iris-virginica
148,148,6.2,3.4,5.4,2.3,Iris-virginica
149,149,5.9,3.0,5.1,1.8,Iris-virginica

In [4]:
from sklearn.datasets import load_iris
data=load_iris()

In [5]:
df=pd.DataFrame(data=data.data,columns=data.feature_names)

In [6]:
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [7]:
y=df[['sepal length (cm)']]
x=df[['petal length (cm)']]

In [8]:
x

     petal length (cm)
0                  1.4
1                  1.4
2                  1.3
3                  1.5
4                  1.4
..                 ...
145                5.2
146                5.0
147                5.2
148                5.4
149                5.1

[150 rows x 1 columns]

In [9]:
y

     sepal length (cm)
0                  5.1
1                  4.9
2                  4.7
3                  4.6
4                  5.0
..                 ...
145                6.7
146                6.3
147                6.5
148                6.2
149                5.9

[150 rows x 1 columns]

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [12]:
from sklearn.linear_model import LinearRegression

In [13]:
lr=LinearRegression()

In [14]:
lr.fit(x_train,y_train)

LinearRegression()

In [15]:
y_pred=lr.predict(x_test)

In [19]:
y_test.head()

     sepal length (cm)
113                5.7
32                 5.2
67                 5.8
46                 5.1
138                6.0

In [20]:
y_pred[0:4]

array([[6.38639811],
       [4.91053919],
       [6.00689153],
       [4.95270659]])

In [21]:
from sklearn.metrics import mean_squared_error

In [22]:
mean_squared_error(y_test,y_pred)

0.17589535386288924